/* 
TRABALHO: Criei uma folha de estilo inicial para facilitar o  trabalho, mas
sinta-se à vontade em alterá-lo completamente de forma a tornar a aplicação mais
"bonita"e lembrando sempre de testar o layout responsivo de sua soluçõa.
 */

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#productControls {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are not double-spaced */
}

th, td {
    border: 1px solid #ddd; /* Creates a light gray border */
    padding: 8px; /* Adds some space inside the cells */
    text-align: left; /* Aligns text to the left */
}

/* Center-align only the images in the second column */
td:nth-child(2) {
    text-align: center;
}






